<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
<div style="text-align: center">
<h1>Krushimitra  / कृषी मित्र </h1>
<h2>Welcome to Krushi Mitra</h2>
<h3>Empowering Farmers with Smart Agriculture and Modern Technology.</h3>
    <a href="news">News</a>
<a href="market">Market_price</a>
<a href="crops">Crpos</a>
<a href="government">Government_schemes</a>
<a href="expert">Experts</a>
    <a href="trainning">Trainning</a></div>

<p>Welcome to Krushi Mitra, your trusted digital companion for smarter and more sustainable farming. Our platform is designed to help farmers make informed decisions through the power of technology. Whether you are a small-scale farmer or a commercial grower, Krushi Mitra provides the information and tools you need to improve crop productivity and increase profitability.

With features such as crop recommendations, plant disease detection, weather updates, fertilizer guidance, market prices, and government scheme information, Krushi Mitra brings all essential agricultural services together in one easy-to-use platform. Our goal is to bridge the gap between traditional farming practices and modern agricultural innovations, making farming more efficient, sustainable, and rewarding. These kinds of digital advisory features are widely recognized as valuable for supporting farmers in decision-making.</p>
<div style="text-align: center">
    <img src="../static/image/krushi5.jpeg" height="700" width="1650"></div>


</body>
</html>
